
<!-- Edit Post: (from views.edit) Users should be able to click an “Edit” button or link on any of their own posts to edit that post.
When a user clicks “Edit” for one of their own posts, the content of their post should be replaced 
with a textarea where the user can edit the content of their post.
The user should then be able to “Save” the edited post. 
Using JavaScript, should be able to achieve this without requiring a reload of the entire page.
For security, ensure that the application is designed such that it is not possible for a user, 
via any route, to edit another user’s posts. -->

{% extends 'network/layout.html' %}

{% block body %}
<div class="border">
    <h3>Edit your Post below</h3>
    <form action="" method="POST">
        {% csrf_token %} <!-- security CSRF -->
        {{ form }}
    <button class="btn btn-primary">Save edited post</button>
    </form>  
</div>
    
{% endblock %}