{% extends "network/layout.html" %}

{% block body %}

<!-- Profile Page: Clicking on a username should load that user’s profile page. This page should:
Display the number of followers the user has, as well as the number of people that the user follows.
Display all of the posts for that user, in reverse chronological order.
For any other user who is signed in, this page should also display a “Follow” or “Unfollow” button 
that will let the current user toggle whether or not they are following this user’s posts. 
Note that this only applies to any “other” user: a user should not be able to follow themselves. -->
    Following: {{ following }}    
    Followers: {{ follower }}
    
    <h5>user Posts listing! (in reverse chronological order)</h5>
    {% for post in posts %}
        <div class="border">
            {% if post.user != request.user %}
                {% if post.user in follower_list %}
                    <button data-follow="unfollow" data-user_id='{{ post.user.id }}' class="btn btn-primary follow-btn">Unfollow :/ </button>   
                {% else %}
                    <button data-follow="follow" data-user_id='{{ post.user.id }}' class="btn btn-primary follow-btn">Follow this user ;0 </button>
                {% endif %}
            {% endif %}
            <h5>{{ post.user }}</h5>
            <h6>{{ post.post }}</h6>
            <p>{{ post.date_added }}</p>
        </div>
    {% endfor %}

{% endblock %}